@font-face {
	font-family: 'iconfont'; /* Project id 3770535 */
	src: url('iconfont.woff2?t=1668654151491') format('woff2'),
		url('iconfont.woff?t=1668654151491') format('woff'),
		url('iconfont.ttf?t=1668654151491') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-xiayu-baitian:before {
	content: '\e61e';
}

.icon-sou:before {
	content: '\e61c';
}

.icon-tongzhi:before {
	content: '\e61d';
}

.icon-tongzhizhongxin:before {
	content: '\e61a';
}

.icon-sousuo:before {
	content: '\e61b';
}

.icon-a-desktop1:before {
	content: '\e617';
}

.icon-a-android1:before {
	content: '\e618';
}

.icon-a-apple1:before {
	content: '\e619';
}

.icon-Media1:before {
	content: '\e616';
}

.icon-Downloader:before {
	content: '\e601';
}

.icon-Developer:before {
	content: '\e603';
}

.icon-Media-click:before {
	content: '\e604';
}

.icon-Developer-click:before {
	content: '\e605';
}

.icon-Gallery-click:before {
	content: '\e606';
}

.icon-Utilities:before {
	content: '\e607';
}

.icon-All-click:before {
	content: '\e608';
}

.icon-Cloud:before {
	content: '\e609';
}

.icon-Backup:before {
	content: '\e60a';
}

.icon-Utilities-click:before {
	content: '\e60b';
}

.icon-Network-click:before {
	content: '\e60c';
}

.icon-All:before {
	content: '\e60d';
}

.icon-a-HomeAutomation:before {
	content: '\e60e';
}

.icon-a-HomeAutomation-click:before {
	content: '\e60f';
}

.icon-Backup-click:before {
	content: '\e610';
}

.icon-Network:before {
	content: '\e611';
}

.icon-Cloud-click:before {
	content: '\e612';
}

.icon-Media:before {
	content: '\e613';
}

.icon-Gallery:before {
	content: '\e614';
}

.icon-Downloader-click:before {
	content: '\e615';
}
